# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# VS Code
.vscode/

# macOS / Windows
.DS_Store
Thumbs.db

# Models and data (optional)
# Ignore all pickle/csv/joblib files except your tracked model ones
*.pkl
!app/models/classifier.pkl
!app/models/vectorizer.pkl
*.csv
*.joblib
